$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

// bower:scss
@import '../../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss';

@import 'http://fonts.googleapis.com/css?family=Open+Sans:300,400,800,700,600';
@import '//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css';
// endbower
body {
    font-family: 'Open Sans', sans-serif;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.header-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    padding: 0 0 15em 0;

    background-color: transparent;
    background-image: url('../images/thoughtram-polygons.svg');
    background-size: 1200px auto;
    background-repeat: no-repeat;
    background-position: -14em -14em;
}

.arrow {
    position: absolute;
    content: '';
    bottom: 8em;
    width: 2em;
    height: 2em;
    background: hsl(357, 100%, 71%);
    left: 50%;
    margin-left: -1em;

    &:before {
        position: absolute;
        content: '';
        height: 1em;
        width: 1em;
        border-style: solid;
        border-width: 0.6em;
        border-color: #fff transparent transparent transparent;
        top: 0.75em;
        left: 0.45em;
    }
}

.logo {
    background-image: url('../images/thoughtram_logo_brain.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100px auto;
    background-color: hsl(0, 100%, 100%);
    text-indent: -7000px;
    margin: 0;
    height: 3em;
    width: 3.5em;
}

.logo-line {
    display: block;
    margin: 0.5em 0 0 0;
    padding: 0.3em 0;
    width: 9.3em;
    background: hsl(0, 100%, 100%);
    background-image: url('../images/thoughtram_logo-line.png');
    background-position: 0.45em;
    background-repeat: no-repeat;
    background-size: 250px auto;
    text-indent: -7000px;
}

.tag-line {
    padding: 0.2em 0.7em;
    margin: 0.8em 0 0 0;
    display: inline-block;
    color: hsl(0, 0%, 0%);
    background: hsl(0, 100%, 100%);
    font-size: 1.3em;
    font-weight: bold;
    text-transform: uppercase;
    font-weight: 800;
}

.nav {
    position: relative;
    margin-bottom: 4em;
    margin-top: 1em;
}

.nav__nav-toggle {
    float: right;
    padding: 0.8em 1em;
    background-color: hsl(357, 100%, 71%);
    background-image: none;
    border: none;
    color: #fff;
}

.nav__nav-list {
    position: absolute;
    display: none;
    padding: 0;
    margin: 4.5em 0 0 0;
    list-style: none;
    background: #fff;
    width: 100%;

    &:before {
        position: absolute;
        content: '';
        height: 2em;
        width: 2em;
        border-width: 1em;
        border-style: solid;
        border-color: transparent transparent #fff transparent;
        right: 0.5em;
        top: -2em;
    }
}

.nav__nav-list--visible {
    display: block;
}

.nav__nav-list-item {
    text-align: center;

    a {
        display: block;
        padding: 1em;
        color: #1a1a1a;
        text-transform: uppercase;
    }
}

.site-section {
    padding: 4em 0;

    p {
        font-size: 1.2em;
        font-weight: 300;
        line-height: 1.4;
        margin: 1em 0 0 0;

        &.first-of-type {
            margin-top: 0;
        }
    }

    a {
        font-weight: 400;
        border-bottom: 1px solid #1a1a1a;
        color: #000;
        &:hover {
            text-decoration: none;
        }
    }
}

.site-section-headline {
    margin: 3em 0 0 0;
    display: inline-block;
    padding: 0.4em 0.6em;
    text-transform: uppercase;
    font-size: 1.6em;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;

    &:first-child {
        margin-top: 0;
    }
}

.our-mission {
    position: relative;

    background-color: hsl(0, 0%, 67%);
    background-image: url('../images/theatre_twenties_optimized.jpg');
    background-repeat: no-repeat;
    // background-size: auto 100%;
    background-size: cover;

    margin-top: 30em;
    padding-top: 8em;

    .site-section-headline {
        background: hsl(0, 100%, 100%);
    }

    p {
        background: hsl(0, 100%, 100%);
        padding: 0.8em;
    }

    &:before {
        position: absolute;
        content: '';
        width: 3em;
        height: 3em;
        left: 50%;
        bottom: -1.5em;
        margin-left: -1.5em;
        z-index: 1;
        background: hsl(357, 100%, 71%);
        border-radius: 50%;
        box-shadow: 0 0 0 4px hsla(0, 0%, 100%, 1);
    }
}

.who-we-are {
    position: relative;

    background-image: url('../images/thoughtram-polygons.svg');
    background-size: 1600px auto;
    background-repeat: no-repeat;
    background-position: -90em 7em;

    .site-section-headline {
        background-color: hsl(194, 33%, 45%);
        color: #fff;
    }

    &:before {
        position: absolute;
        content: '';
        width: 3em;
        height: 3em;
        left: 50%;
        bottom: -1.5em;
        margin-left: -1.5em;
        z-index: 1;
        border-radius: 50%;
        box-shadow: 0 0 0 4px hsla(0, 0%, 100%, 1);
        background: hsl(357, 100%, 71%);
    }
}

.founder-profile {
    margin-top: 3em;
}

.founder-profile--with-touch-hint {
    .founder-profile__figure:before {
        content: "Touch for more information!";
        position: absolute;
        width: 8em;
        right: -0.5em;
        text-align: center;
        -webkit-transform: rotate(27deg);
        top: -1em;
        font-variant: small-caps;
        font-weight: bold;
    }
}

.founder-profile__figure {
    position: relative;

    figcaption {
        position: absolute;
        z-index: 1;
        padding: 0.5em;
        width: 10em;
        bottom: -1em;
        left: 50%;
        margin-left: -5em;
        font-size: 1.3em;
        font-weight: 200;
        text-align: center;
        background: hsl(357, 100%, 71%);
        color: hsl(0, 100%, 100%);
    }
}

.founder-profile__figure__avatar {
    margin: 0 auto;
    display: block;
    width: 75%;
    height: 100%;
    background-color: #ccc;
    border: 1px solid #ccc;
    border-radius: 50%;
}

.founder-profile__figure__info {
    position: absolute;
    display: none;
    top: 0;
    background: hsla(0, 0%, 65%, 0.8);
    left: 50%;
    width: 75%;
    height: 100%;
    border-radius: 50%;
    margin-left: -37.5%;
}

.founder-profile__figure--info-visible {
    .founder-profile__figure__info {
        display: block;
    }
}

.founder-profile__figure__info__socialize {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
            transform: translateY(-50%);
}
.founder-profile__figure__info__socialize__item {
    display: inline-block;
    width: 49%;
    font-size: 3.5em;

    a {
        color: hsl(0, 100%, 100%);
        border-bottom: 0;
        &:hover {
            color: #6FB4C7;
        }
    }
}

.founder-profile__figure__info__socialize__item--github {
    text-align: right;
    padding-right: 0.3em;
}

.founder-profile__figure__info__socialize__item--twitter {
    text-align: left;
    padding-left: 0.3em;
}

.founder-profile__headline {
    display: none;
}

.founder-profile__info {
    position: relative;

    margin-top: 3em;
    padding: 1em;

    background-color: hsl(194, 33%, 45%);
    color: hsl(0, 100%, 100%);

    p:first-child {
        margin-top: 0;
    }

    a {
        font-weight: 600;
        color: #fff;
        border-bottom: none;
    }

    &:before {
        position: absolute;
        content: '';
        width: 1em;
        height: 1em;
        border-style: solid;
        border-width: 1em;
        border-color: hsla(0, 0%, 0%, 0) hsla(0, 0%, 0%, 0) hsl(194, 33%, 45%) hsla(0, 0%, 0%, 0);
        top: -1.9em;
        left: 50%;
        margin-left: -1em;
    }
}

.trainings {
    position: relative;
    background-color: hsl(0, 0%, 10%);

    .site-section-headline {
        background-color: hsl(194, 33%, 45%);
        color: #fff;
    }

    &:before {
        position: absolute;
        content: '';
        bottom: -1.5em;
        width: 3em;
        height: 3em;
        background: hsl(357, 100%, 71%);
        left: 50%;
        margin-left: -1.5em;
        border-radius: 50%;
        box-shadow: 0 0 0 4px hsl(0, 100%, 100%);
    }
}

.trainings-list {
    margin: 0;
    padding: 0;
}

.trainings-list__item {
    margin-top: 1em;

    &:first-child {
        margin-top: 3em;
    }
}

.training .training__info {
    display: none;
}

.training__headline {
    position: relative;
    margin: 0;
    background-color: hsl(195, 37%, 42%);
    color: #fff;
    padding: 0.5em 0.7em;
    padding-top: 0.6em;
    font-weight: 600;
    font-size: 1.4em;
    text-transform: uppercase;

    &:before {
        position: absolute;
        content: '';
        width: 0.6em;
        height: 0.6em;
        right: 0.7em;
        border-width: 0.4em;
        border-color: hsl(0, 100%, 100%) hsla(0, 0%, 0%, 0) hsla(0, 0%, 0%, 0) hsla(0, 0%, 0%, 0);
        border-style: solid;
        top: 1em;
    }
}

.training--info-visible {
    .training__info {
        display: block;
    }
    .training__headline:before {
        border-color: hsla(0, 0%, 0%, 0) hsla(0, 0%, 0%, 0) hsl(0, 100%, 100%) hsla(0, 0%, 0%, 0);
        top: 0.6em;
    }
}

.training__info {
    padding: 1em;
    background: #fff;

    p {
        margin-top: 1em;
        &:first-child {
            margin-top: 0;
        }
    }

    h4 {
        font-size: 1.3em;
        margin-top: 1em;
        margin-bottom: 0;
        color: #fff;
        background: #1a1a1a;
        padding: 0.4em;
        text-align: center;
    }

}
.training-days {
    margin-left: 0;
    padding-left: 0;
    margin-top: 1em;
    list-style: none;
    font-size: 1.2em;
    font-weight: bold;

    .listing {
        font-size: 1em;
    }
}

.training-days__day {
    margin-top: 0.8em;
}

.listing {
    list-style: square;
    margin-left: 1.3em;
    margin-top: 0.8em;
    font-weight: 200;
    font-size: 1.2em;
    padding-left: 0;
    li {
        margin-top: 0.4em;
    }
}

.training-pre-info {
    display: inline-block;
    width: 49%;
    background: hsl(357, 100%, 71%);
    text-align: center;
    color: hsl(0, 100%, 100%);
    padding: 0.5em 0em;
    text-transform: uppercase;
    font-size: 1.2em;
}

.day-suffix {
    text-transform: none;
}

.map {
    margin-top: 1em;
    width: 100%;
}

.pricing-form {
    padding: 0;
    list-style: none;
    margin-top: 1em;
}

.pricing-form__row {
    margin-top: 1em;
}

.pricing-form__label {
    display: block;
    margin: 0;
    font-size: 1.1em;
}

.pricing-form__select {
    width: 100%;
    margin-top: 0.3em;
    -webkit-appearance: none;
    line-height: 2em;
    padding: 0 0.8em;
}

.form-tickets {
    margin-top: 1em;
}

.form {
    width: 100%;
    margin: 0 auto;
    margin-top: 2em;
}

.email {
  line-height: 2;
  width: 100%;
  box-sizing: border-box;
  border-radius: 0;
  padding: 0em 1em;
  height: 3em;
  border: 1px solid #ccc;
}
.button {
  border: 0;
  color: #fff;
  background: #6fb4c7;
  width: 100%;
  padding: 0.8em;
  margin-top: 1em;
}

.button:hover {
  background-color: hsl(193, 44%, 45%)
}

.sponsors {
    .site-section-headline {
        color: #fff;
        background-color: hsl(0, 0%, 10%);
    }
}

.sponsors-list {
    list-style: none;
    padding: 0;
    margin: 0 0 2em 0;
}

.sponsors-list__item {
    text-align: center;
    margin-top: 1em;
    a {
        text-decoration: none;
        border: none;
        display: inline-block;
    }
}

.sponsors-list__logo {
    width: 100%;
    max-width: 100%;
}

.sponsors-list__logo--github {
    width: 10em;
}
.sponsors-list__logo--stickermule {
    background: #000;
    width: 10em;;
    padding: 0.5em;
}

.code-of-conduct {
    background-image: url('../images/thoughtram-polygons.svg');
    background-size: 1600px auto;
    background-repeat: no-repeat;
    background-position: -90em 7em;
    padding-bottom: 0;

    h2 {
        color: #fff;
        background-color: hsl(0, 0%, 10%);
    }

    article {
        background-color: hsl(0, 0%, 10%);
        color: #fff;
        padding: 1em;
        margin-top: 1em;
    }

    p:first-child {
        margin-top: 0;
    }

    h4 {
        margin: 1em 0 0 0;
    }
}

.contact {
    background: #fff;
    .site-section-headline {
        background: #1a1a1a;
        color: #fff;
        margin-bottom: 0.5em;
    }
}

.contact-address {
    background: #1a1a1a;
    display: block;
    padding: 1em;
    color: #fff;
    margin: 0;
    font-size: 1em;
    line-height: 1.8;

    a {
        color: #fff;
        border-bottom: 1px solid #fff;
    }
}

.contact-address__headline {
    margin: 0 0 0.5em 0;
}

.footer {
    background-color: #123742;
    color: #fff;
    padding: 3em 0 1em 0;
}

.footer__logo-line {
    text-transform: uppercase;
    font-size: 1.4em;
    font-weight: 200;
    margin: 2em 0 0 0;
    text-align: center;
    line-height: 1;

    img {
        height: 0.8em;
        width: auto;
        vertical-align: baseline;
    }
}

.footer__socialize {
    padding: 0;
    list-style: none;
    margin-top: 0;
}

.footer__socialize__item {
    margin-top: 1em;

    a {
        color: #1A1A1A;
        font-size: 1.2em;
        background: #FFF;
        padding: 0.4em;
        display: inline-block;
        text-align: center;
        width: 100%;
    }
}

.footer__logo-brain {
    max-width: 100%;
    width: 20%;
    display: block;
    margin: 0 auto;
    margin-top: 1em;
}

.footer__copyright {
    text-align: center;
    margin: 2em 0 0 0;
}


.scroll-top:hover {
    color: #fff;
    text-decoration: none;
}

.scroll-top {
    display: none;
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    width: 2em;
    height: 2em;
    line-height: 2em;
    font-size: 1.4rem;
    color: #fff;
    background-color: #FF6B72;
    text-decoration: none;
    text-align: center;
    text-indent: -7777px;
    &:before {
        position: absolute;
        content: '';
        height: 1em;
        width: 1em;
        border-style: solid;
        border-width: 0.6em;
        border-color: transparent transparent #fff transparent;
        top: 0.1em;
        left: 0.45em;
    }
}


@media screen and (min-width: 361px) {
    .header-container {
        background-position: -20em -25em;
        background-size: 1600px auto;
        padding-bottom: 18em;
    }

    .logo {
        background-size: 140px auto;
        height: 4em;
        width: 4.5em;
    }

    .logo-line {
        padding: 0.6em;
        width: 11em;
        background-size: 300px auto;
    }

    .tag-line {
        font-size: 1.4em;
    }

    .our-mission {
        margin-top: 35em;
    }

    .founder-profile__figure__info__socialize__item--twitter {
        padding-left: 0.5em;
    }

    .founder-profile__figure__info__socialize__item--github {
        padding-right: 0.5em;
    }

    .founder-profile__figure__info,
    .founder-profile__figure__avatar {
        width: 60%;
    }

    .founder-profile__figure__info {
        margin-left: -30%;
    }

    .pricing-form__row {
        margin-top: 0.8em;
    }
    .pricing-form__label,
    .pricing-form__select {
        display: inline-block;
        margin-top: 0;
    }

    .pricing-form__label {
        width: 7em;
    }

    .pricing-form__select {
        width: 15em;
    }
}

@media screen and (min-width: 551px) {

    .header-container {
        background-size: 1800px auto;
        padding-bottom: 23em;

        .arrow {
            width: 3em;
            height: 3em;
            margin-left: -1.5em;
            bottom: 11em;

            &:before {
                height: 1.5em;
                width: 1.5em;
                top: 1.2em;
                left: 0.7em;
                border-width: 0.9em;
            }
        }
    }

    .our-mission {
        margin-top: 40em;
        padding-top: 15em;
    }

    .founder-profile--with-touch-hint .founder-profile__figure:before {
        display: none;
    }

    .logo {
        height: 5em;
        width: 5.5em;
        background-size: 170px;
    }

    .logo-line {
        padding: 0.8em;
        width: 15em;
        background-size: 400px auto;
        background-position: 0.8em;
    }

    .training-pre-info {
        width: 49.5%;
    }

    .sponsors-list__logo--github {
        width: 15em;
    }

    .sponsors-list__logo--stickermule {
        width: 12em;
    }
}

@media screen and (min-width: 751px) {

    .form {
        width: 500px;
    }
    .site-section-headline {
        font-size: 2em;
        padding-left: 1em;
        padding-right: 1em;
    }

    .founder-profile {
        margin-top: 6em;
    }

    .founder-profile__headline {
        display: block;
        margin-top: 0;
        font-weight: 600;
    }

    .founder-profile__figure {
        display: inline-block;
        vertical-align: top;
        width: 28%;

        figcaption {
            display: none;
        }
    }

    .founder-profile__figure__avatar {
        width: 100%;
    }

    .founder-profile__info {
        display: inline-block;
        margin-top: 0;
        width: 33em;
        margin-left: 3.5em;

        &:before {
            border-color: transparent #4d8799 transparent transparent;
            left: -0.9em;
            top: 9em;
        }
    }

    .founder-profile--pascal {
        .founder-profile__figure {
            float: right;
        }

        .founder-profile__info {
            margin-left: 0;

            &:before {
                border-color: transparent transparent transparent #4d8799;
                left: 34em;
            }
        }
    }

    .training__headline {
        padding-left: 1.5em;
        padding-right: 1.5em;

        &:before {
            right: 1.5em;
        }
    }

    .training-days__day {
        display: inline-block;
        width: 49%;
        vertical-align: top;
        margin-top: 0;
    }

    .training__info {
        padding: 2em;
        h4 {
            margin-top: 1.5em;
        }
    }

    .sponsors-list__item {
        margin-top: 2.5em;
    }

    .code-of-conduct article {
        padding: 2em;
    }
    .contact-address {
        padding: 1.8em;
    }

    .footer__logo-brain {
        width: 8em;
        margin-top: 2em;
    }
    .footer__socialize__item {
        margin-top: 0;
        display: inline-block;
        width: 24%;
        margin-left: 0.2em;
    }
}

@media screen and (min-width: 922px) {
    .container {
        width: 850px;
    }


    .site-section {
        padding: 8em 0;

        p {
            font-size: 1.3em;
        }

        &.code-of-conduct {
            padding-bottom: 0;
        }
    }

    .nav {
        margin-top:4em;
        margin-bottom: 6em;
    }

    .tag-line {
        font-size: 1.6em;
        padding: 0.5em 1.2em;
    }

    .header-container {
        background-size: 3600px auto;
        background-position: 50% -84em;
        padding-bottom: 35em;

        .arrow {
            bottom: 25em;
        }
    }

    .our-mission {
        padding-top: 40em;
        padding-bottom: 12em;

        p {
            padding: 1.2em 1.6em;
        }
    }

    .who-we-are {
        background-size: 2600px auto;
        background-position: -125em 7em;
    }


    .founder-profile {
        margin-top: 8em;
    }

    .founder-profile__figure {
        width: 20em;
    }
    .founder-profile__figure figcaption {
        margin-left: -5em;
    }

    .founder-profile__info {
        width: 34.7em;
        padding: 2em;
    }

    .founder-profile--christoph {
        margin-top: 6em;
    }

    .founder-profile--pascal {
        .founder-profile__info:before {
            left: 35.5em;
        }
    }

    .listing {
        font-size: 1.3em;
    }

    .training-days .listing {
        font-size: 1.1em;
    }

    .training__info h4 {
        font-size: 1.5em;
    }

    .code-of-conduct article {
        margin-top: 3em;
    }

    .contact .site-section-headline {
        margin-bottom: 1.5em;
    }

    .contact-address {
        font-size: 1.2em;

        p {
            font-size: 1em;
        }
    }

    .sponsors-list__item {
        display: inline-block;
        width: 49.7%;

        &:first-child {
            margin-top: 2em;
        }
    }

    .footer {
        padding: 8em 0 3em 0;
    }

    .footer__logo-line {
        margin-top: 4em;
    }

    .scroll-top {
        bottom: 3rem;
        right: 3rem;
    }
}
